body {
  margin: 1rem;
  background-color: #fff;
}

.weatherImage{
  width: 11rem;
  height: 11rem;
}

#formDivision {
  padding-top:16rem;
  margin: auto;
  width: fit-content;
}

#cityLabel {
  font-family: 'Libre Baskerville', serif;
}

#btn-xl{
  padding: 7px 80px;
}
